#include <windows.h>
#include "resource.h"

IDI_LSP ICON "NppLsp.ico"

VS_VERSION_INFO	VERSIONINFO
FILEVERSION    	0, 0, 12, 0
PRODUCTVERSION 	0, 0, 12, 0
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
	FILEFLAGS	VS_FF_DEBUG | VS_FF_PRERELEASE
#else
	FILEFLAGS	0
#endif
FILEOS			VOS_NT_WINDOWS32
FILETYPE		VFT_DLL  // VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"  // 04b0 == 1200
    BEGIN
      VALUE "CompanyName", "Ekopalypse"
      VALUE "FileDescription", "LSP client plugin for Notepad++"
      VALUE "FileVersion", "0.0.12.0"
      VALUE "InternalName", "NppLspClient"
      VALUE "LegalCopyright", "Copyright (C) 2022 Ekopalypse"
      VALUE "OriginalFilename", "NppLspClient.dll"
      VALUE "ProductName", "NppLspClient"
      VALUE "ProductVersion", "0.0.12.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL 
IDD_ABOUTDLG DIALOGEX 0, 0, 223, 130
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_BORDER | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Close", IDOK, 86, 109, 50, 14
    GROUPBOX        "", IDC_VERSION, 10, 9, 201, 93, BS_CENTER
    LTEXT           "Author: Ekopalypse <Ekopalypse@gmail.com>", IDC_STATIC, 30, 26, 180, 8
    LTEXT           "The NppLspClient code is hosted at", IDC_STATIC, 30, 43, 180, 8
    LTEXT           "www.github.com/Ekopalypse", IDC_STATIC, 30, 60, 180, 8
    LTEXT           "This code is licensed under MIT", IDC_STATIC, 30, 80, 180, 8
	CONTROL			IDI_LSP, IDC_STATIC,"Static", SS_ICON, 171, 65, 32, 32
END

IDD_CONSOLEDLG DIALOGEX 0, 0, 199, 177
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dockable Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
END

IDD_DIAGNOSTICSDLG DIALOGEX 0, 0, 199, 177
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dockable Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
END

IDD_REFERENCESSDLG DIALOGEX 0, 0, 199, 177
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dockable Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
END

IDD_SYMBOLSDLG DIALOGEX 0, 0, 199, 177
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dockable Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
END
